p {
}
span.checkbox {
               list-style:square;
               font-family:Wingdings;
               list-style:square;
               font-family:Wingdings;
               list-style:square;
               font-family:Wingdings;
}
span.Bullet {
             list-style:square;
             list-style:square;
             list-style:square;
}
p.Quick_Ref_Material_TTL {
                          color:#1a74d1;
                          color:#1a74d1;
                          color:#1a74d1;
}
p.checkbox {
            list-style:square;
            list-style:square;
            list-style:square;
}
p.checkbox_2 {
              list-style:square;
              list-style:square;
              list-style:square;
}
p.checkbox_3 {
              list-style:square;
              list-style:square;
              list-style:square;
}
